.image-avatar{
    width: 100pt;
    height: 100pt;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
}

.image-avatar-selected{
    width: 100pt;
    height: 100pt;
    transition: all .5s;
    cursor: pointer;
}

.record-svg{
    width: 200pt;
    height: 200pt;
    margin-top: 10pt;
    margin-bottom: 20pt;
}

.sentence-section{
    margin-bottom: 20pt;
    margin-top: 10pt;
    background-color: #FFDFF4;
    margin-left: 20pt;
    margin-right: 20pt;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0.5rem;
}